@using HomeOrganizer.Components
@inherits LayoutComponentBase

<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>Home organizer</PageTitle>


<div class="page" style="height:100%">
    <main style="height:100%">
        <TopBar />
        @Body
    </main>
</div>
