@inherits LayoutComponentBase

<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>Home organizer</PageTitle>


<div class="page" style="height:100%">
    <main style="height:100%">
        @Body
    </main>
</div>
