@using HomeOrganizer.Components
@inherits LayoutComponentBase

<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>Home organizer</PageTitle>


<div class="page" style="height:100%">
    <main style="height:100%">
        <TopBar />
        <MudContainer Class="content pt-4 content-container"
                      MaxWidth="MaxWidth.ExtraLarge"
                      Style="display: flex; flex-direction: column;">
            @Body
        </MudContainer>
        <CustomFooter />
    </main>
</div>
